*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    padding: auto;
}

header{
    display: flex;
    font-size: 40px;
    justify-content: space-between;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navigations {
    display: flex;
}

.heads{
    background-color: rgba(0, 0, 0, 0.801);
    color: aliceblue;
}

.head {
    display: flex;
}

.head2 {
    padding: 40px;
}

button {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
  }

  .navigation {
    padding: 5px;
  }

  .mores {
    display: flex;
    justify-content: space-around;
    padding: 100px;
  }

  .more2 {
    display: flex;
  }

  .text {
    padding: 150px;
    background-color: rgba(0, 0, 0, 0.041);
    font-size: 30px;
  }

.blogs{
    display: flex;
}



  .emails {
    background-color: rgba(0, 162, 255, 0.589);
    display: flex;
    justify-content: space-around;
    padding: 120px;
    margin: 100px;
  }

  footer {
    background-color: black;
    color: aliceblue;
    padding: 30px;
    display: inline;
  }

  @media screen and (max-width:992px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 23%;}
    .col-md-4 {width: 31.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
}


@media screen and (max-width:768px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 23%;}
    .col-sm-4 {width: 31.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}


@media screen and (max-width:992px) {
    .none {display: none;}
}